body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.footer-style {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: blue;
}

.main {
    flex-grow: 1;
    background: cyan
}